<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="5" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="4">
              <ion-item class="ion-no-padding no-padding-end-start" lines="none">
                <ion-avatar>
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
              </ion-item>
            </ion-col>
            <ion-col size="8" class="ion-align-self-center">
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-text-center">
                    USD
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    {{9999 | currency:'USD'}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="2" class="ion-no-padding ion-align-self-center ion-text-center">
          <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="5" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="8" class="ion-align-self-center">
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-text-center">
                    COP
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    {{99000000 | currency}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ion-no-padding no-padding-end-start" lines="none">
                <ion-avatar>
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-label color="primary">1 AUD = 2250 COP</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-start ion-no-padding">
          <ion-label>Status: Open</ion-label>
      </ion-col>
      <ion-col class="ion-text-end ion-no-padding">
          <ion-badge>2</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>