<ion-content padding>

  

  <ion-list>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
    <app-item-transaction></app-item-transaction>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentPopover($evt)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
